/*
	Name:TuzhiStyle v1.0 -CSS Framework
	Author: Chen Haifei
	Styles updated:Dec. 08.12.11@14:45 a.m.
*/

/*=Layouts
---------------------------------*/
@charset "utf-8";
/* CSS Document */
#page {width:1002px;text-align:left;margin:0 auto;overflow:hidden;}
* { margin:0; padding:0;}
body { font-size:12px;font-family: "Microsoft YaHei",sans-serif; background: url("../images/bg.jpg")/*tpa=http://www.koal.com/koal_main/images/bg.jpg*/ repeat-x #EDEDED;}
html { height:100%;margin-bottom:1px;}
h1,h2,h3,h4,h5,h6{ font-size:12px;}
ul, dl { list-style:none;}
img { border:none;}
em,cite { font-style:normal;}
table { border-collapse:collapse; border-spacing:0;}
dt{ margin:0; padding:0;}
/*=Forms
----------------------------------*/
input,
select { vertical-align:middle; font-size:12px}
.input_text {color:#CCC;}
.input_text_focus { color:#000; border:1px solid #FF0096;}
.input_button { cursor:pointer;}

/*=Links
----------------------------------*/

a { text-decoration:none; color:#414141}
a:hover { text-decoration:none; color: #F63;}
.rar,
.doc,
.pdf,
.rss,
.http,
.mail { padding-right:20px; background-repeat:no-repeat; background-position:0 0;}

.rar { background:url("css/img/rar.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/rar.gif*/;}
.doc { background:url("css/img/word.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/word.gif*/;}
.pdf { background:url("css/img/pdf.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/pdf.gif*/;}
.rss { background:url("css/img/rss.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/rss.gif*/;}
.http { background:url("css/img/http.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/http.gif*/;}
.mail { background:url("css/img/mail.gif")/*tpa=http://www.koal.com/koal_main/css/css/img/mail.gif*/;}

/*=Margin
----------------------------------*/
.mt5px { margin-top:5px;}
.mt8px { margin-top:8px;}
.mr3px { margin-right:3px;}
.mr5px { margin-right:5px;}
.mr8px { margin-right:8px;}
.mr16px { margin-right:16px;}
.mb10px{ margin-bottom:10px;}
.mt20px{ margin-top:20px;}
.pl15{ padding-left:15px;}
.pl30{ padding-left:30px;}
/*=Hocks
----------------------------------*/
.clear { clear:both;}
/*=color
----------------------------------*/
.red,.red a{ color:#F00}
/*=font-size
----------------------------------*/
.fz24{ font-size:24px; font-family:Arial, Helvetica, sans-serif;}
.fz14{ font-size:14px;}
.money{ margin-left:10px;background:url("../images/money.gif")/*tpa=http://www.koal.com/koal_main/images/money.gif*/ no-repeat left center; padding-left:10px;}
.fleft{ float:left;}
.fright{ float:right;}